@import "reset.css";
@import "header.css";
@import "section.css";

* {
  /*
    box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성입니다.
    border-box : 테두리를 기준으로 크기를 정합니다.
    */
  box-sizing: border-box;
}

.title__header {
  margin: 0px 50px;

}

.images-group{
  display: flex;
}

.images-group img{
width: 360px;
border: lightgray solid 1px;

}

.images-group a{
  font-size: 20px;
font-weight: 700;
  }
.manual_item h1{
background-color: black;
color: white;
  font-weight: 800;
  padding: 10px;
}

.manual_item{
  display: flex;
  height: 800px;

}


.manual_item div{ 
 margin: 20px;
}