.side__navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 40px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  /*왼쪽 고정*/
  overflow: hidden;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
}

.side__navbar li a {
  display: block;
  color: #000;
  text-decoration: none;
}
.side__navbar li i {
  font-size: 20px;
  padding: 15px 10px;
}
.side__navbar li a.active {
  background-color: burlywood;
  color: white;
}

.side__navbar li a:hover:not(.active) {
  background-color: #555;
}
