.section {
}

.wrapper {
  background-color: white;
  display: flex;
  margin: 0px 50px;
}
.wrapper .side-wrapper {
  width: 30%;
}
.wrapper .side-wrapper,
.body-container {
  border: 1px solid lightgray;

  /* Use box-sizing so that element's outerwidth will match width property */
  box-sizing: border-box;

  /* Allow box to grow and shrink, and ensure they are all equally sized */
  flex: 1 1 auto;
}
.wrapper .body-container {
  background-color: white;
  z-index: 1;
  flex-grow: 1;
  width: 70%;
}
.wrapper .handler {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}

.handler::before {
  content: "";
  display: block;
  width: 10px;
  height: 100%;
  background: #7887ab;
  margin: 0 auto;
}
.wrapper iframe {
  /* iframes are inline by default */
  background: #000;
  border: none; /* Reset default border */
  height: 800px; /* Viewport-relative units */
  width: 100%;
}
